* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: 
        url('image/filter-box.png'),
        url('image/img01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.date {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

section h1 {
    font-size: 36px;
}